*.prefs
.project

web/.classpath
web/.project
web/.settings/
web/.gitignore
web/target/


dao-jdbc-impl/.classpath
dao-jdbc-impl/.gitignore
dao-jdbc-impl/.project
dao-jdbc-impl/.settings/
dao-jdbc-impl/target/



dao-api/.classpath
dao-api/.gitignore
dao-api/.project
dao-api/.settings/
dao-api/target/



service/.classpath
service/.project
service/.gitignore
service/.settings/
service/target/



/.metadata/

dao-jdbc-orm/.classpath
dao-jdbc-orm/.project
dao-jdbc-orm/.gitignore
dao-jdbc-orm/.settings/
dao-jdbc-orm/target/


dao-api/.checkstyle
