*.prefs
.project

web/.classpath
web/.project
web/.settings/



dao-jdbc-impl/.classpath
dao-jdbc-impl/.gitignore
dao-jdbc-impl/.project



dao-api/.classpath
dao-api/.gitignore
dao-api/.project



service/.classpath
service/.project
service/.gitignore



