body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.input-field label.multiselect-label, .input-field label.switch-label {
	position: absolute;
	top: -26px;
	font-size: .8rem;
}

.switch label input[type=checkbox]:checked ~.lever {
	background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

.switch label input[type=checkbox]:checked ~.lever:after {
	background-color: #26a69a;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

table {
	margin-bottom: 25px;
}

nav, .page-footer {
	background-color: #f5f5f5;
}

nav ul a, .page-footer ul a {
	color: #070707;
}

.white-text, .grey-text.text-lighten-4 {
	color: #0e0202 !important;
}

.grey-text.text-lighten-3, .footer-copyright {
	color: #ff1744 !important;
}

#myInput {
	background-color: #f0f0f0;
	width: 95%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}


::-webkit-input-placeholder { 
  color: red;
}
:-ms-input-placeholder { 
  color: #ffffff;
}
::-moz-placeholder { 
  color: #408080;
  opacity: 1;
}
:-moz-placeholder { 
  color: red;
  opacity: 1;
}